body, html {
    background-color: black;
    height: 100%;
    width: 100%;
    flex-direction: row;
    display: flex;
    padding: 0;
    margin: 0;
}
.layout a{
    text-decoration: none;
    color:red;
    font-weight: bold;
}
.layout {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    padding: 100px;
}
#left{
    width: 30%;
    color: white;
}
#mid{
    width: 40%;
    padding:0 !important;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 2.5rem;
}
#ss{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 300px;
    height: 375px;
}
#rag{
    position: relative;
    top: 20px;
    width: calc(100%-100px);
    height: 125px;
}
#right{
    width: 30%;
    color: white;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}

@media (max-width: 500px){
    .layout {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.5rem;
        padding: 35px;
    }
    #left{
        width: 30%;
        color: white;
    }
    #mid{
        width: 40%;
        padding:0 !important;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 1.2rem;
    }
    #ss{
        margin-top: 40px;
        margin-bottom: 20px;
        width: 200px;
        height: 275px;
    }
    #rag{
        position: relative;
        top: 20px;
        width: calc(100%-25px);
        height: 50px;
    }
    #right{
        width: 30%;
        color: white;
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
    }
}